:root {
  --primary: #e99401;
  --black: #262626;
  --white: #fff;
  --fuente-principal: 'Outfit', sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
[class*='container'],
main {
  width: min(95%, 120rem);
  margin: 3rem auto;
}
[class*='heading'] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}

/*** Header ***/
.header {
  padding: 6rem 0;
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.8),
      rgb(0 0 0 / 0.7)
    ),
    url(/img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header .logo {
  width: 25rem;
}
.bar {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header .navigation {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
}
.header .navigation a {
  padding: 0.5rem;
  font-size: 1.4rem;
  font-weight: 900;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s;
}
.header .navigation a:hover,
.header .active {
  background-color: var(--primary);
}
@media (min-width: 768px) {
  .bar {
    flex-direction: row;
    justify-content: space-between;
  }
  .header .navigation {
    margin-top: 0;
  }
}

/**** Footer ****/
.footer {
  margin-top: 5rem;
  padding: 5rem 0;
  background-color: var(--black);
}
.footer .navigation {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.footer .navigation a,
.footer .copyright {
  color: var(--white);
  font-size: 2.2rem;
  font-weight: 700;
  text-decoration: none;
}
.footer .copyright {
  text-align: center;
}
@media (min-width: 768px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
  }
  .footer .navigation {
    flex-direction: row;
  }
}
